@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
    font-family: "Inter";
}

body {
    background-color: rgb(15, 15, 15);
    display: grid;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card {
    background-color: rgb(35, 35, 35);
    width: 50%;
    height: 70%;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: center 25px;
}

.loading {
    background-image: url("Loading.gif");
    border-color: rgb(75,75,75);
}

.success {
    background-image: url("Success.svg");
    border-color: #66ff66;
}

.fail {
    background-image: url("Fail.svg");
    border-color: #ff6666;
}

h1 {
    padding-top: 35%;
    font-size: 45px;
    font-family: "Inter";
    margin: 5px;
}

.divider {
    width: 75%;
    height: 2px;
    background: white;
    margin: 10px auto;
}

p {
    font-size: 18px;
    font-family: "Inter";
    margin: 2px;
}

bold {
    font-family: "Inter";
    font-weight: bold;
}

black {
    font-family: "Inter";
    font-weight: bolder;
}

small {
    font-size: 14px;
    opacity: 50%;
    font-weight: normal;
}
