* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    font-size: 20px;
    font-weight: bold;
}

body {
    background-image: url("../DuckyBackground.svg");
    line-height: 1.6;
}   

.container {
    display: flex;
    margin: 2em auto;
    max-width: 1200px;
    color: #fff;
    text-shadow: 2px 2px 8px #000;
}

.sidebar {
    width: 25%;
    height: 100%;
    padding: 1em;
    align-items: center;
    display: block;
}

.sidebar h2 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 0.5em 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    width: 75%;
    padding: 1em;
}

.content section {
    margin-bottom: 2em;
}

.content h2 {
    border-bottom: 2px solid #ffffff;
    border-width: 3px;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

code {
    background: #3d3d3d;
    font-family: monospace;
    border-radius: 5px;
    padding: 5px 5px;
}
